// @import '../../sass/abstracts/_mixins.styles.scss';

.poster {
  // border: 1px solid purple;
  // height: 80%;
  width: 300px;
  flex: 0 0 8em;
  margin: 0 15px;
}

.poster-img {
  border-radius: 5px;
  // width: 50s
}