@import '../../sass/abstracts/_mixins.styles.scss';
@import '../../sass/base/base.styles.scss';

.section {
  // border: 1px solid black;
  max-width: 1200px;
  width: 100%;
  height: 400px;
  overflow: scroll;
  margin: 0 auto;
}

.section-title {
  margin: 10px;
  font-size: 24px;
}

.movie-poster {
  @include flex-jc-sb();
}

p {
  font-size: 0.75rem;
  font-weight: bolder;
}

.column-header {
  display: flex;
  align-items: center;
}

h2 {
  flex: 0 0 9em;
  margin-left: 1rem;
}

.selector {
  display: flex;
  justify-content: space-evenly;
}