.btn-primary {
  background: #007bff;
  color: white; 
}

.btn-success {
  background: #28a745;
  color: white;
}

.btn-warning {
  background: #ffc107;
  color: black;
}

.btn-danger {
  background: #dc3545;
  color: white;
}

.btn-info {
  background: #17a2b8;
  color: white;
}

.btn-mute {
  background: #edecf1;
  color: white;
}

.btn-dark {
  background: #575c62;
  color: white;
}
